@use 'sass:map';
@import '../../../styles/pages/all';
 

.footer{
    background:#F3F6FA;
    padding-top: 70px;
    padding-bottom: 0;

    .footer__about{
        margin-bottom: 30px;
        .footer__about__logo{
            margin-bottom: 15px;
            display: inline-block;

        }
        ul li{
            font-size: 16px;
            color: map.get($theme-color, "normal-text"); 
            line-height: 36px;
            list-style: none;
        }
    }
    .footer__widget{
        margin-bottom: 30px;
        overflow:hidden;

        h6{
            color: map.get($theme-color, "normal-text");
            margin-botton:10px;
            font-size:16px;
            font-weight:700;
        }

        ul{
            float:left;
            width:50%;


            li{
                list-style: none;

                a{
                    color: map.get($theme-color, "normal-text");
                    font-size:14px;
                    line-height: 32px;
                    text-decoration: none;
                }
            }
        }
        p{
            font-size:14px;
            color: map.get($theme-color, "normal-text"); 
            margin-bottom: 30px;
        }
        form{
            
            margin-bottom: 30px;

            .input__group{
                display: flex;
                align-items: center;

                input{
                width: 100%;
                font-size:16px;
                padding-left:20px;
                color: map.get($theme-color, "normal-text");
                height: 46px;
                border: 1px solid #ededed;


                ::placeholder{
                    color: map.get($theme-color, "normal-text");
                }
            }
            button{
                // position:absolute;
                // right: 0;
                // top: 0;
                padding: 0 26px;
                height:44px;
                min-width: max-content;

            }
            }          
        }
    }
    .footer__widget_social{
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 30px;


        div{
            :hover{
                background: map.get($theme-color, "main");
                color: #ffffff;
                border-color: #ffffff;
            }
            svg{
                font-size: 20px;
                padding: 10px ;
                color: #404040;
                border: 1px solid #ededed;
                border-radius: 50%;
                transition: all 0.3s;
                background: #ffffff;
                cursor: pointer;        
            }
        }
    }
    
}