@use 'sass:map';
@import '../../../styles/pages/all';


.product__detail__pic {
    display: flex;
    column-gap: 10px;

    img {
        flex: 0 0 65%;
        object-fit: cover;
    }
    @include Responsive($SMALL_DEVICE) {
        flex-direction: column;
        row-gap: 10px;
    }

    .main {
        flex: 0 0 35%;
        display: grid;
        align-items: stretch;
        @include Responsive($SMALL_DEVICE){
          margin-top: 6px;
          margin-bottom: 8px;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 8px;
        }

        img {
            width: 60%;
            object-fit: cover;

            &:not(:first-child) {
                padding-top: 5px;
            }
            @include Responsive($SMALL_DEVICE) {
              flex: unset !important; 
              max-height: 115px;
              width: 100%;
              padding-top: 0;
              aspect-ratio: 1 / 1;
            }
        }
    }
}

.product__detail__text{
  h2{
    color: #252525;
    font-weight: 700;
    font-size: 31px;

  }
  .seen-icon{
    display: flex ;
    align-items: center;
    font-size: 13px;
    line-height: 30px;
    column-gap: 5px;
  }
  p{
    margin: 10px 0;
    line-height: 25px;
    white-space: normal;
    word-wrap: break-word; 
    overflow-wrap: break-word;
  }
  ul{
    margin: 20px 0;
    border-top: 1px solid #eee;
    padding-top: 20px;

    li{
      list-style: none;
      display: flex;
      column-gap: 20px;
      line-height: 35px;

      b{
        width: 150px;

      }

      span{
        display: flex;
        column-gap: 10px;
        align-items: center;

        svg{
          font-size: 20px;
          cursor: pointer;
        }
      }
    }

  }
}

.product__detail__tab{
  margin: 20px 20px;

  h4{
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    &::after{
      position: absolute;
      right: 0;
      top:12px;
      height: 1px;
      width: 43%;
      background: #ebebeb;
      content: "";
    }

    

    &::before{
      position: absolute;
      left: 0;
      top:12px;
      height: 1px;
      width: 43%;
      background: #ebebeb;
      content: "";
    }
    &::after, &::before{
      @include Responsive($MEDIUM_DEVICE){
        width: 42%;
      }
      @include Responsive($TABLET_DEVICE){
        width: 38%;
      }
      @include Responsive($WIDE_MOBILE){
        width: 34%;
      }
      @include Responsive($SMALL_DEVICE){
        width: 27%;
      }
    }
  }
}