@use "sass:map";
@import '../../../styles/pages/all';

.login {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;

    &__container {
        width: 45%;
        background: #fff;
        padding: 32px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    &__title {
        text-align: center;
        font-weight: 600;
        color: map.get($theme-color, "normal-text");
        margin-bottom: 24px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__form-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__label {
        font-size: 18px;
        font-weight: 500;
        color: map.get($theme-color, "normal-text");
    }

    &__button {
        height: 46px;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        background: map.get($theme-color, "main");
        border-radius: 4px;
        cursor: pointer;
        border: none;
    }
}