@use 'sass:map';
@import '../../../styles/pages/all';



.container__categories_slider{
  max-width: 1200px !important;
  margin-top: 30px !important;

  .categories_slider{
    .categories_slider_item{
      height: 300px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      border-radius: 5px;

      p{
        position: absolute;
        left:5%;
        bottom:20px;
        text-align: center;
        font-size: 18px;
        color: map.get($theme-color,'normal-text') ;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 12px 0 10px;
        width: 270px;

        &:hover{
          background: rgb(237 237 237);
        }
      }
    }
    .react-multi-carousel-item:not(:first-child):not(:last-child){
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.featured{
  margin-top: 50px;

  .section-title{
    margin-bottom: 50px;
    text-align: center;


    h2{
    position: relative;

    }
    h2:after{
      position: absolute;
      left: 0;
      bottom: -15px;
      right: 0;
      height: 4px;
      width: 80px;
      background: map.get($theme-color,'main');
      content:'';
      margin: 0 auto;
    }
  } 

  .react-tabs{
    ul{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;

    }
    li{
      list-style: none;
      font-size: 18px;
      color:map.get($theme-color,'normal-text');
      display: inline-block;
      margin-right: 25px;
      position: relative;
      cursor: pointer;
    }
  .react-tabs__tab-list {
    display: flex;
    justify-content: center;
    border-bottom: none;
    margin-bottom: 50px;
  }
  .react-tabs__tab {
    list-style: none;
    font-size: 18px;
    color:map.get($theme-color,'normal-text');
    display: inline-block;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
  }


  .react-tabs__tab--selected {
    color: map.get($theme-color,'main');
    border-bottom: 2px solid map.get($theme-color,'main');
  }

  .featured_item{
    margin-bottom: 50px;
    &:hover{
      .featured_item_pic_hover{
        bottom: -15%;
      }
    }
    .featured_item_pic{

      height:270px;
      position: relative;
      overflow: hidden;
      background-position: center;
      background-size: cover;      
      background-repeat: no-repeat;


      .featured_item_pic_hover{
        position:  absolute;
        left:0;
        bottom: 20px;
        width: 100%;
        text-align: center;
        transition: all 0.5s;
        padding: 0;
        margin: 0;
        gap:24px;

        li{
          list-style: none;
          display: inline-block;
          //margin-right: 10px;
          
          &:hover{
            svg{
              background: #7fad39;
              border-color: #7fad39 ;
              color: #ffffff;
              transform: rotate(360deg) !important;
            }
          }
          svg{
            padding:10px;
            height:20px;
            width: 20px;
            border: 1px solid #ebebeb;
            background: #ffffff;
            color: #565555;
            transition: all 0.3s;
            border-radius: 50%;

          }
        }
      }
    }
    .featured_item_text{
      text-align: center;

      h6{
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;

        a{
          color: map.get($theme-color,'normal-text');
          text-decoration:none;
          
        }

      }
      h5{
        color: map.get($theme-color,'normal-text');
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
      }
    }

  }

}}

.banner {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;                 
  margin-bottom: 30px;
}

.banner_pic {
  width: 100%;
}

.banner_pic img {
  width: 100%;
  height: auto;
  display: block;          
}
