@use 'sass:map';
@import '../../styles/pages/all';



.featured_item{
    margin-bottom: 50px;
    &:hover{
      .featured_item_pic_hover{
        bottom: -15%;
      }
    }
    .featured_item_pic{
      width: 175px;
      height:235px;
      position: relative;
      overflow: hidden;
      background-position: center;
      background-size: cover;      
      background-repeat: no-repeat;
      margin-left: 15px;
      margin-right: 15px;
      @include Responsive($MEDIUM_DEVICE){
        height: 230px;
      }
      @include Responsive($TABLET_DEVICE){
        height: 220px;
      }
      @include Responsive($WIDE_MOBILE){
        height: 225px;
      }
    

      .featured_item_pic_hover{
        position:  absolute;
        left:0;
        bottom: 20px;
        width: 100%;
        text-align: center;
        transition: all 0.5s;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap:38px;

        li{
          list-style: none;
          display: inline-block;
          //margin-right: 10px;
          
          &:hover{
            svg{
              color: #7bb326;
              transform: rotate(360deg) !important;
            }
          }
          svg{
            padding:6px;
            height:20px;
            width: 20px;
            border: none;
            background: #fff;
            color: #565555;
            transition: all 0.3s;
            border-radius: 50%;
          }
          /* ensure button wrapper has no default square background */
          .icon-btn{
            background: transparent;
            border: none;
            padding: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }
      }
    }
    .featured_item_text{
      text-align: left;
      
      h6{
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;

        a{
          color: map.get($theme-color,'normal-text');
          text-decoration:none;
          
        }

      }
      h5{
        color: map.get($theme-color,'normal-text');
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
      }
    }

  }